:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.description {
  padding: 120px 60px;
}
h2 {
  font-size: 64px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
@media (max-width: 900px) {
  .description {
    padding: 0px;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .paragraph {
    padding: 0px;
  }
}
.navbar-toggler {
  color: black;
}
.about {
  text-align: center;
  padding-top: 100px;
}
.paragraph {
  margin: 20px auto;
  max-width: 670px;
}
