:root {
  --text-color: #272142;
  --branding-color: #6c63ff;
}
body {
  background-color: #f9f7fe;
}
h3,
p {
  font-family: "Poppins";
  font-weight: 600;
}
h1 {
  font-family: "Playfair Display";
  font-size: 96px;
  line-height: 120px;
  color: black;
}
.main {
  text-align: center;
  padding: 160px 20px;
}
h3 {
  font-size: 36px;
  line-height: 54px;
  color: var(--text-color);
  margin: 0px auto;
}
p {
  font-size: 24px;
  line-height: 40px;
  color: black;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
